/*------Universal-------*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*-------Top Containers-----*/
html, body{
    height: 100%;
}
body{
    background-color: rgb(109, 173, 109);
}

/*---------Winner Container--------*/
.player-won{
    color: rgb(0, 153, 0);
}
.player-lost{
    color: rgb(208, 0, 0);
}

.game-draw{
    color: rgb(66, 65, 65);
}

.player-won, .player-lost, .game-draw{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
}

/*------RPS and Reset Buttons------*/
button{
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover{
    transform: scale(1.1);
}

button#rock-button, button#paper-button, button#scissors-button{
    background-color: transparent;
    border: none;
}

button#restart-game{
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    background-color: rgb(104, 104, 244);
    color: white;
    font-size: 20px;
}

/*----------Main Container---------*/
.main-content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#game-title{
    font-size: 60px;
}

.text-container{
    font-weight: 700;
}

div.game-results{
    width: 700px;
    height: 400px;
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    text-align: center;
}

div.score-board, div.player-choices{
    display: flex;
    justify-content: space-between;
}

div.button-selections, div.game-over{
    width: 700px;
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

img{
    max-height: 100px;
}

/*--------Hide Elements-------*/
div.hidden{
    display: none;
}
