body{
    text-align: center;
}
.user-won{
    color: green;
}
.user-lost{
    color: red;
}
#restart-game{
    background-color: rgb(104, 104, 244);
    color: white;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
}